body {
    font-size: 22px;
    color: aquamarine;
}

p {
    color: inherit;
}

h1,
h2 {
    color: blue;
}

p span {
    text-transform: uppercase;
    background-color: gold;
}

.gray {
    color: gray;
}

#second {
    color: red;
}