@import url('https://fonts.googleapis.com/css2?family=Dongle&display=swap');

body {
    padding: 10%;
    font-size: 2rem;
    font-family: 'Dongle', sans-serif;
}

/* input, button {
    font: inherit;
} */

p {
    line-height: 1.5;
}

/* Did some more experiments using other text and font properties*/