@import url('https://fonts.googleapis.com/css2?family=Dongle&display=swap');

body {
    padding: 10%;
    font-size: 2rem;
    font-family: 'Dongle', sans-serif;
}

a {
    color: hsl(207, 44%, 49%);
}

a:visited{
    color: purple;
}

a:hover {
    color: hsl(189, 44%, 49%);
    background: gold;
}

a:active {
    color: red;
}